<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-memory-warning"
        version="2.0.0"
        xmlns="http://apache.org/cordova/ns/plugins/1.0">

    <name>BlueHook Memory Guard</name>
    <description>Checks Android memory headroom before launching an external camera.</description>
    <license>MIT</license>
    <keywords>cordova,memory,camera,guard</keywords>
    <repo>https://github.com/La-Flame1/cordova-plugin-memory-warning.git</repo>
    <issue>https://github.com/La-Flame1/cordova-plugin-memory-warning/issues</issue>

    <js-module name="MemoryGuard" src="www/CordovaPluginMemoryWarning.js">
        <clobbers target="cordova.plugins.memoryGuard" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MemoryGuard">
                <param name="android-package" value="com.counterplay.memory.CordovaPluginMemoryWarning" />
            </feature>
        </config-file>

        <source-file src="src/android/CordovaPluginMemoryWarning.java"
                     target-dir="src/com/counterplay/memory" />
    </platform>
</plugin>
